<div class="container mt-5 ">
  <%= form_for :account_transaction, url: update_account_account_transactions_path, method: :put do |f| %>
    Please Enter Amount : <%= f.number_field :amount %><br /><br>
    Please Enter Acc No : <%= f.text_field :account_number %><br />
    <%= f.hidden_field :action, :value => 'transfer' %><br />
    <%= f.submit 'save' %>
  <% end %>
</div>